body {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url("../static/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  filter: brightness(0%);
}

button.btn-primary {
  background-color: blue !important;
  color: white !important;
  border: none !important;
}

/* Increase specificity to override Bootstrap */
body button.btn-primary {
  background-color: blue !important;
  color: white;
  border: none;
}
